<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5" style="color: #2C3E50;">Contacts</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-7">
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }} | {{ contact.department }}</p>
        <p>{{ contact.company }} | {{ contact.institution }}</p>
        <p>{{ contact.institution_address }}</p>
        <p>
          <span style="color: #2C3E50;">Phone:</span> 
          {% capture phone_html %}{{ contact.phone }}{% endcapture %}
          {% assign phone_parts = phone_html | split: '>' %}
          {% assign phone_number = phone_parts[1] | split: '<' | first %}
          {% assign anonymized_number = phone_number | slice: 0, -4 | append: '****' %}
          {{ phone_parts[0] }}>{{ anonymized_number }}</span>
        </p>
        <p><span style="color: #2C3E50;">Email:</span> {{ contact.email }}</p>
        <p><span style="color: #2C3E50;">Office:</span> {{ contact.office }}</p>
      </div>
      <div class="col-md-5">
        <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>