---
layout: default
---
<style>
  .cv-image {
    height: 50px; /* Adjust this value as needed */
    width: auto;
    object-fit: contain;
    max-width: 100%;
  }
</style>

{{ content }}
<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5" style="color: #2C3E50;">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 style="color: #2C3E50;">Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <div class="row mb-4">
            <div class="col-md-9">
              <p class="fw-bold mb-0" style="color: #2C3E50;">{{ section.title }}</p>
              <p class="mb-0" style="color: #3498DB;">{{ section.description }}</p>
              {% if section.details %}
                <p class="mb-0"><em style="color: #34495E;">{{ section.details }}</em></p>
              {% endif %}
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-center">
              {% if section.image %}
                <img src="{{ site.github.url }}/{{ section.image }}" alt="{{ section.title }}" class="cv-image">
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 style="color: #2C3E50;">Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <div class="row mb-4">
            <div class="col-md-9">
              <p class="fw-bold mb-0" style="color: #2C3E50;">{{ section.title }}</p>
              <p class="mb-0" style="color: #3498DB;">{{ section.description }}</p>
              {% if section.details %}
                <p class="mb-0"><em style="color: #34495E;">{{ section.details }}</em></p>
              {% endif %}
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-center">
              {% if section.image %}
                <img src="{{ site.github.url }}/{{ section.image }}" alt="{{ section.title }}" class="cv-image">
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>