<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YTFCT9JKWV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YTFCT9JKWV');
  </script>
  </script>
  
</html>
