---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-7">
    <h3 class="fw-bold">Bio</h3>
    {{ content }}
  </div>
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Featured News Coverage</h3>
    <div class="news-coverage">
      {% for item in site.data.settings.featured_news_coverage %}
        <p>
          <strong>{{ item.title }}</strong><br>
          <em>{{ item.publication }}</em> - {{ item.date }}<br>
          {{ item.summary }}<br>
          <a href="{{ site.github.url }}/news-coverage/{{ item.url }}">Read more</a>
        </p>
      {% endfor %}
    </div>
    <p><a href="{{ site.github.url }}/news-coverage" class="btn btn-primary">View All News Coverage</a></p>
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
