---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>

<h4 class="mb-3">Featured Publications</h4>
{% for publication in site.data.settings.publications.featured %}
<div class="mb-4">
  <h5><a href="{{ publication.url }}" target="_blank">{{ publication.name }}</a></h5>
</div>
{% endfor %}

<h4 class="mt-5 mb-3">All Publications</h4>
{% for publication in site.data.settings.publications.index %}
<div class="mb-4">
  <h5><a href="{{ publication.url }}" target="_blank">{{ publication.name }}</a></h5>
</div>
{% endfor %}